body{
    margin: 0px auto;
    font-family: Roboto, sans-serif;
}
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 21;
}
.container{
    margin: 0 auto;
    max-width: 1124px;
    padding-left: 81px;
    padding-right: 81px;
    width: 100%;
}
.header-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right{
    display: flex;
    align-items: center;
}
.link2{
    color: #000;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
}
.link1{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    line-height: 12px;
    border-radius: 2px;
    margin-right: 16px;
    padding: 14px 20px;
    text-align: center;
    border: 1px solid #E0E0E0;
    font-weight: 600;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;
}
.link1:hover{
    color: #57AD56;
    transition: all 0.2s ease;
}
.link2:hover, .link2:active, .link2:focus{
    color: #57AD56;
    transition: all 0.2s ease;
}
.link1:active, .link1:focus{
    background-color: #F2F2F2;
    transition: all 0.3s ease;
}
.search-input{
    width: 100%;
    border-bottom: 1px solid #757575;
    border-right: none;
    border-top: none;
    border-left: none;
    color: #626262;
    outline: none;
    background-color: #F2F2F2;
}
.search{
    padding-top: 104px;
    width: 100%;
    margin-bottom: 56px;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.main{
    background-color: #F2F2F2;
}
.card-price{
    color: #626262;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
}
.card-time{
    color: #1D1D1D;
    font-size: 13px;
    line-height: 21px;
}
.card-title{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: 400;
}
.rest-list{
    padding-bottom: 80px;
}
a{
    text-decoration: none;
}
.title{
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    font-weight: 400;
}
.card{
    margin-bottom: 16px;
    -webkit-transition: all 0.2s ease; 
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease;
}
.card-image img{
    width: 100%;
}
.footer{
    background-color: #262626;
    max-width: 100%;
    height: 100%;
}
.lang-select{
    background-color: #3b3b3b;
    color: #fff;
    width: 227px;
    height: 40px;
    font-size: 13px;
    line-height: 16px;
    outline: none;
    padding: 10px 70px 10px 50px;
    border-radius: 2px;
}
.lang-select-container{
    display: flex;
    align-items: center;
    width: fit-content;
}
.footer-logo{
    padding: 40px 0;
}
hr {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid #757575;
}
.hashtag{
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-top: 33px;
}
.slash{
    color: #49a114;
}
.footer-item{
    display: flex;
    flex-flow: row;
    padding-top: 6px;
    padding-bottom: 13px;
}
.social-link{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #fff;
    -webkit-transition: 0.2s ease; 
    transition: all 0.2s ease;
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
}
.social-link:hover, .social-link:active, .social-link:focus{
    color:#57AD56;
    transition: 0.2s ease;
}
.card:hover{
    transition: all 0.2s ease;
    transform: scale(1.025);
    background-color: #E0E0E0;
    border-radius: 5px;
}
.footer-links{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    flex-flow: row;
}
.footer-links-column{
    flex-basis: 33.3333%;
    display: flex;
    flex-flow: column nowrap;
}
.footer-link {
    padding: 8px 0;
    font-size: 13px;
}
.footer-link a{
    color: #fff;
    -webkit-transition: 0.2s ease; 
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}
.footer-link a:hover{
    color: #57AD56;
    transition: 0.2s ease;
}
.footer-stores{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
}
.footer-copy{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.btn-up{
    position: fixed; 
    bottom: 1%; 
    right: 0.5%; 
    z-index:500;
}

@media screen and (max-width: 576px) {
    .footer-links {
      flex-flow: column;
    }
    .footer-links-column {
      flex-basis: 100%;
    }
    .footer-legal {
      flex-flow: column nowrap;
    }
  }