body{
    margin: 0px auto;
    font-family: Roboto, sans-serif;
}
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 21;
}
.container{
    margin: 0 auto;
    max-width: 1124px;
    padding-left: 81px;
    padding-right: 81px;
    width: 100%;
}
.header-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right{
    display: flex;
    align-items: center;
}
.link2{
    color: #000;
    -webkit-transition: 0.2s ease; 
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}
.link1{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    line-height: 12px;
    border-radius: 2px;
    margin-right: 16px;
    padding: 14px 20px;
    text-align: center;
    border: 1px solid #E0E0E0;
    font-weight: 600;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.link1:hover{
    color: #57AD56;
    transition: all 0.2s ease;
}
.link2:hover, .link2:active, .link2:focus{
    color: #57AD56;
    transition: all 0.2s ease;
}
.link1:active, .link1:focus{
    background-color: #F2F2F2;
    transition: all 0.3s ease;
}
.heroblock{
    background: url(../assets/hero.jpg);
    background-size: cover;
    padding-top: 80px;
    margin: 0 auto;
    background-position: center;
    height: 364px;
}
.herocard{
    margin-top: 80px;
    height: 115px;
    width: fit-content;
    background-color: #fff;
    padding: 40px 35px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.herocard > h1{
    margin: 0;
    font-size: 36px;
}
.card-content{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.card-price{
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}
.card-time{
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
.tabs-labels{
    height: 80px;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 40px;
}
.menu-link{
    color: #626262;
    font-size: 16px;
    line-height: 19px;
}
.menu-link-selected{
    color: #327430;
    font-size: 16px;
    line-height: 19px;
}
.tab-hr {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid #efefef;
}
.footer-hr{
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid #757575;
}
.card{
    display: flex;
    border: 1px solid #efefef;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    height: 160px;
    margin-bottom: 49px;
    -webkit-transition: 0.2s ease; 
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}
.dish-pic{
    object-fit: cover;
}
.dish-desc{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
.card-title{
    color: #1d1d1d;
    font-size: 16px;
    line-height: 24px;
}
.card-text{
    color: #626262;
    font-size: 13px;
    line-height: 21px;
}
.dish-price{
    font-weight: 600;
    color: #1d1d1d;
}

.card:hover{
    background-color: #f9f9f9;
    transition: 0.2s ease;
}
.footer-links{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    flex-flow: row;
}
.footer-links-column{
    flex-basis: 33.3333%;
    display: flex;
    flex-flow: column nowrap;
}
.footer-link {
    padding: 8px 0;
    font-size: 13px;
}
.footer-link a{
    color: #fff;
    -webkit-transition: 0.2s ease; 
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}
.footer-link a:hover{
    color: #57AD56;
    transition: 0.2s ease;
}
.footer-stores{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
}
.footer-copy{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.btn-up{
    position: fixed; 
    bottom: 1%; 
    right: 0.5%; 
    z-index:500;
}
.hashtag{
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-top: 33px;
}
.slash{
    color: #49a114;
}
.footer-item{
    display: flex;
    flex-flow: row;
    padding-top: 6px;
    padding-bottom: 13px;
}
.social-link{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #fff;
    -webkit-transition: 0.2s ease; 
    -moz-transition: 0.2s ease; 
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}
.social-link:hover, .social-link:active, .social-link:focus{
    color:#57AD56;
    transition: 0.2s ease;
}
.footer{
    background-color: #262626;
    max-width: 100%;
    height: 100%;
}
.lang-select{
    background-color: #3b3b3b;
    color: #fff;
    width: 227px;
    height: 40px;
    font-size: 13px;
    line-height: 16px;
    outline: none;
    padding: 10px 70px 10px 50px;
    border-radius: 2px;
}
.lang-select-container{
    display: flex;
    align-items: center;
    width: fit-content;
}
.footer-logo{
    padding: 40px 0;
}
@media screen and (max-width: 576px) {
    .footer-links {
      flex-flow: column;
    }
    .footer-links-column {
      flex-basis: 100%;
    }
    .footer-legal {
      flex-flow: column nowrap;
    }
  }
